:root{
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --warm-black1: #282623;
    --grey: #757575;
    --soft-grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;

    --font-family1: 'DM Sans';
    --font-family2: 'Inter';
    --font-size1: 1.4rem;
    --font-size2: 2.4rem;
    --font-size3: 1.8rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: var(--font-family1), sans-serif;
    color: var(--warm-black);
    background-color: var(--off-white);
}

/* Header */

.header{
    height: 29.5rem;
    width: 100%;
    background: linear-gradient(207.8deg, #201E1C 16.69%, var(--bitcoin-orange) 100%);
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bata-bit-header-logo-container{
    position: relative;
    top: 2rem;
}

.header-h1, .header-h2{
    min-width: 27.1rem;
    text-align: center;
}

.header-h1{
    font-size: var(--font-size2);
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--off-white)
}

.header-h2{
    position: relative;
    bottom: 2rem;
    font-size: var(--font-size1);
    font-weight: 300;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 19.20em;
    width: 25.0rem;
    height: 5rem;
    text-decoration: none;
    font-size: var(--font-size1);
    font-weight: 700;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.26);
    background-color: var(--off-white);
    color: var(--warm-black);
}.header-button:visited{
    color: var(--warm-black);
}

/* Main section */

/* Section 1 */
.bitcoin-svg-container{
    display: flex;
    justify-content: center;
    margin: 6rem 0 3rem 0;
}

.exchange-rates-h1{
    width: 88%;
    font-style: normal;
    font-size: var(--font-size2);
    font-weight: 7000;
    text-align: center;
    margin: 0 auto;
    line-height: 2.6rem;
}

.exchange-rates-paragraph{
    width: 28.8rem;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
    font-size: var(--font-size1);
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey);
}

.coins-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 19.6rem;
    margin: 4rem auto;
}

.exchange-rates-h2{
    font-size: var(--font-size3);
    font-weight: 700;
    color: var(--bitcoin-orange);
    align-self: flex-start;
    margin: 1rem 0;
}

div[class^="coin-"]{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.9rem;
    width: 100%;
    padding: 0 1.2rem;
    font-family: var(--font-family2);
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--soft-grey);
    background-color: var(--just-white);
}

.coin-1, .coin-4{
    border-radius: 0.5rem;
}
.coin-name{
    width: 10.1rem;
}

.coins-section-last-update{
    font-family: var(--font-family2);
    font-size: 1.2rem;
    background-color: var(--soft-orange);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 2rem 0;
}

/* Section 2 */
.benefits{
    background-color: var(--warm-black);
    color: var(--just-white);
    padding: 0.1rem 2rem 3rem 2rem;
}

.benefits--h1{
    font-size: 2.4rem;
    font-weight: 500;
    font-style: normal;
    line-height: 2.6rem;
    text-align: center;
    margin: 7rem 0 3rem 0;
}

.benefits--p{
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    color: var(--grey);
    margin: 0 0 4rem 0;
}

section[class^="benefits--section"]{
    background-color: var(--warm-black1);
    max-width: 40.0rem;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.432);
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 0.5rem;
}

section[class^="benefits--section"] > h3{
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 1rem;
}

section[class^="benefits--section"] > p{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--grey);
    margin-top: 1rem;
}
@media (min-width: 1000px){
    .wrapper--benefits--sections{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
}


/* Section 3 */
.plans--bitcoinbaby{
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url(../assets/img/bitcoinbaby2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.plans--bitcoinbaby-figcaption{
    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 2.6;
    font-weight: 700;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 15%;
}

.plans--h2{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    letter-spacing: 0em;
    text-align: center;
    margin: 4rem 0 2rem 0;
}

.plans--p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: var(--grey);
    margin: 0 2rem;
}

.plans--cards--slider{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding: 0 35%;
}

@media (min-width: 640px){
    .plans--cards--slider{
        overflow:initial;
        justify-content: center;
    }
}

.plans--card{
    background-color: var(--just-white);
    width: 19.0rem;
    height: 24.7rem;
    padding: 2.4rem 2.0rem;
    margin: 4rem 1rem;
    text-align: center;
    color: var(--warm-black);
    border-radius: 0.8rem;
    box-shadow: 0px 4px 8px 0px #59491E29;
    position: relative;
    scroll-snap-align: center;
}

.plans--card--label{
    width: 10.1rem;
    height: 3.1rem;
    padding: 0.8rem;
    background-color: var(--bitcoin-orange);
    border-radius: 0.8rem;
    color: var(--just-white);
    font-family: var(--font-family2);
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
    position: absolute;
    top: -1.6rem;
    left: calc(50% - 5.0rem); 
}

.plans--card--yearly-pay{
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem;
}

.plans--card--price{
    font-family: var(--font-family2);
    font-size: 5.2rem;
    font-weight: 700;
    letter-spacing: -5px;
    position: relative;
}.plans--card--price span{
    font-weight: 500;
    font-size: 1.2rem;
    position: absolute;
    top: 0.7rem;
    left: 3.5rem;
}

.plans--card--offering{
    font-family: var(--font-family2);
    font-size: 1.2rem;
    color: var(--grey);
    padding: 1rem 0;
}

.plans--card--button{
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration: none;
    width:15.1rem;
    height: 4.8rem;
    border: 0.2rem solid var(--bitcoin-orange);
    border-radius: 0.4rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}.plans--card--button:visited{
    color: inherit;
}.plans--card--button:hover{
    
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
}

/* Footer */

.footer{
    background-color: var(--bitcoin-orange);
    padding: 4rem 7rem;
    color: var(--just-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer--links{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--just-white);
}

.footer--links--link{
    list-style-type: none;
    margin-top: 0.8rem;
}
.footer--links--link a{
    text-decoration: none;
}
.footer--links--link a:visited{
    color: inherit;
}

.footer--container--batabit-icon{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer--batatabit-icon{
    padding: 1rem;
}

.footer--container--batabit-icon--p{
    font-size: 0.8rem;
    color: var(--soft-orange);
    font-weight: 500;
}